.container-home {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 75vh;
    box-sizing: border-box;
    margin-top: 30px;
}

.home-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #000;
    border-radius: 8px;
    text-align: center;
}

.home-Container h1 {
    color: #fff;
    padding: 0 0.2em;
    background-color: #5C636A;
    margin-bottom: 1.5em;
}

.home-Container p {
    color: #7b7b7b;
    margin-bottom: 1.5em;
}